<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ======= Required meta tags ================-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <!-- ======= Bootstrap CSS Below ===============-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!--======= glyphicons from FontAwesome =======-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/Landing.css">
    
    <style>

        
    </style>
    
    <!--========= modernizr cdn ===================-->
    <script type="text/javasript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  
    <!--======== Page Title =================================================-->
    <title>Yelp Camp </title>
  </head>
<body>

<div class="container">
  <% if(error && error.length > 0){ %>
  <div class="alert alert-danger" role="alert"><%=error%></div>
<% } %>

<% if(success && success.length > 0){ %>
  <div class="alert alert-success" role="alert"><%=success%></div>
<% } %>
</div>

<div id="Landing-header">
    <h1><i class="fas fa-campground"></i> Welcome to the page </i></h1>
    <a class="btn btn-lg btn-success" href="/campgrounds">View all Campgrounds</a>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>